@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background: #fff;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  margin: 0;
}

#firstPage {
  background: #0b0f1a;
}

#header {
  padding: 1rem 0;
}
#header .navbar-brand {
  max-height: 7.4rem;
  max-width: 28.7rem;
}
#header .nav-item {
  margin-left: 2rem;
}
#header .nav-item .nav-link {
  font-weight: 400;
  font-size: 2.3rem;
  color: #ffffff;
}
#header .nav-item .btn {
  padding: 1rem 1.9rem;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
#header .nav-item .btn:hover {
  background: #fff;
  color: #0b0f1a;
}

.loginHeader {
  background: #0b0f1a;
}

#progressBar {
  padding-top: 3.6rem;
  padding-bottom: 4.2rem;
}
#progressBar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 85rem;
  margin: 0 auto;
}
#progressBar ul li {
  display: flex;
  align-items: center;
}
#progressBar ul li span {
  display: block;
  font-weight: 700;
  font-size: 2.4rem;
  height: 6.3rem;
  width: 6.3rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  color: #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  text-align: center;
  line-height: 5rem;
  background: #979797;
}
#progressBar ul li p {
  font-weight: 500;
  font-size: 2.4rem;
  padding-left: 2.2rem;
  line-height: 2.9rem;
  color: #ffffff;
}
#progressBar ul li.active span {
  background: #0b0f1a;
}

#bannerOne {
  background-image: url(../images/bannerBG.png);
  background-repeat: no-repeat;
  padding-bottom: 6rem;
  background-size: contain;
  padding-top: 4.2rem;
}
#bannerOne .sectionTitle {
  font-weight: 700;
  font-size: 5.5rem;
  line-height: 6rem;
  color: #ffffff;
}
#bannerOne .sectionText {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.7rem;
  color: #ffffff;
  padding-top: 3.8rem;
}
#bannerOne .formInnerContents {
  background: #ffffff;
  border: 1px solid #0b0f1a;
  padding: 3.3rem 2.6rem;
  border-radius: 8px;
  max-width: 52.9rem;
}
#bannerOne .formInnerContents label {
  font-weight: 400;
  font-size: 1.95rem;
  line-height: 3.7rem;
  color: #0b0f1a;
}
#bannerOne .formInnerContents input,
#bannerOne .formInnerContents textarea {
  margin-top: 2.9rem;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.3rem;
  color: #0b0f1a;
  padding: 2rem 2.2rem;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
}
#bannerOne .formInnerContents .NextBtn {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
  padding: 1.1rem 2rem;
  background: #0b0f1a;
  border-radius: 3.85366px;
  width: 70%;
  margin: 0 auto;
  -webkit-border-radius: 3.85366px;
  -moz-border-radius: 3.85366px;
  -ms-border-radius: 3.85366px;
  -o-border-radius: 3.85366px;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
}
#bannerOne .singleInputtwo {
  margin-top: 4.5rem;
}

.colorSelectionBoxCtrl {
  background: #ffffff;
  border: 1px solid #0b0f1a;
  border-radius: 8px;
  padding: 1.6rem 4.2rem;
}

.singleColor label {
  padding: 2rem 2rem;
  font-weight: 400;
  font-size: 2.2rem;
  color: #000000;
  border: 1px solid #0b0f1a;
  border-radius: 5px;
  min-width: 12.5rem;
}

.singleColor .btn-check:checked + .btn,
.singleColor .btn.active,
.singleColor .btn.show,
.singleColor .btn:first-child:active,
.singleColor :not(.btn-check) + .btn:active {
  color: #fff;
  background-color: #000000;
  border-color: #000;
}

.colorTitle {
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 2.7rem;
  color: #000000;
  padding-bottom: 2.3rem;
}

.singlePartOfColor {
  padding-bottom: 2.4rem;
}
.singlePartOfColor .genBtn {
  font-weight: 600;
  font-size: 2.7rem;
  text-align: center;
  color: #000000;
  padding: 2rem 3.7rem;
  width: 27rem;
  border-radius: 8px;
  margin-right: 2rem;
}
.singlePartOfColor .genBtn:hover {
  background: #0b0f19;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
  color: #fff;
}
.singlePartOfColor .genBtn.active {
  background: #0b0f19;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
  color: #fff;
  margin-right: 0;
}

#colorSelectionOne {
  padding-bottom: 6rem;
}
#colorSelectionOne .bgTwo {
  background-image: url(../images/bannerBG-2.png);
  background-repeat: no-repeat;
  background-position: left;
}
#colorSelectionOne .bgTwo img {
  width: 100%;
  height: 100%;
}
#colorSelectionOne select {
  box-shadow: none;
  padding: 2rem 3.1rem;
  font-weight: 400;
  font-size: 2.2rem;
  color: #000000;
  background: #fff;
  cursor: pointer;
  border-color: #000;
  margin-bottom: 2.3rem;
}

.hiddenInputField input {
  font-size: 2.2rem;
  color: #000000;
  border-color: #000;
  margin-top: 1rem;
  height: 0;
  overflow: hidden;
  font-size: 0;
  padding: 0;
  border-width: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.hiddenInputField .visiableInput {
  padding: 2rem 2rem;
  height: auto;
  overflow: hidden;
  font-size: 2.2rem;
  border-width: 1px;
}

#downloadForm {
  padding-top: 4.2rem;
}
#downloadForm .singleInputNote {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 8px;
  margin-bottom: 4rem;
}
#downloadForm .singleInputNote textarea {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3.3rem;
  color: #0b0f1a;
  padding: 1.3rem 3rem;
}
#downloadForm .singleInputNote .notes {
  padding: 1.5rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#downloadForm .singleInputNote .notes .noteText {
  font-weight: 400;
  font-size: 2.1rem;
  line-height: 3.3rem;
  color: #0b0f1a;
}
#downloadForm .singleInputNote .notes .btn {
  padding: 1rem;
}
#downloadForm .downloadFormCtrl {
  background: #ffffff;
  border: 1px solid #0b0f1a;
  border-radius: 8px;
  padding: 5rem 4.1rem;
  padding-bottom: 7.9rem;
}
#downloadForm .downloadFormCtrl .intro {
  font-weight: 400;
  font-size: 2.7rem;
  line-height: 3.7rem;
  color: #0b0f1a;
  padding-bottom: 3.7rem;
}
#downloadForm .downloadBtn {
  font-weight: 600;
  font-size: 2.7rem;
  text-align: center;
  padding: 2rem 5rem;
  color: #ffffff;
  background: #0b0f19;
  border: 1px solid rgba(0, 0, 0, 0.21);
  box-shadow: -7.2496px 99.7369px 80px rgba(0, 0, 0, 0.07),
    -4.69881px 64.6443px 46.8519px rgba(0, 0, 0, 0.0531481),
    -2.79244px 38.4172px 25.4815px rgba(0, 0, 0, 0.0425185),
    -1.44992px 19.9474px 13px rgba(0, 0, 0, 0.035),
    -0.59071px 8.12671px 6.51852px rgba(0, 0, 0, 0.0274815),
    -0.13425px 1.84698px 3.14815px rgba(0, 0, 0, 0.0168519);
  border-radius: 8px;
}

#signUp {
  position: relative;
  padding: 2.8rem 0;
}
#signUp .signUpTitle {
  padding-top: 10rem;
  font-weight: 700;
  font-size: 5rem;
  line-height: 145%;
  letter-spacing: 0.01em;
  color: #0b0f19;
}
#signUp .signUpTitle span {
  color: #979797;
}
#signUp .contactBanner {
  padding-top: 10rem;
}
#signUp .signUpForm {
  background: #ffffff;
  border: 1px solid #0b0f1a;
  border-radius: 7.70732px;
  padding: 6.9rem;
}
#signUp .signUpForm .formTop {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
#signUp .signUpForm .formTop .btn {
  font-weight: 700;
  font-size: 2.4rem;
  color: #acacac;
  border: none;
  padding: 0 2rem;
  border-right: 1px solid #979797;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#signUp .signUpForm .formTop .active {
  color: #0b0f19;
}
#signUp .signUpForm .mainForm .singleInput {
  margin-bottom: 2.6rem;
}
#signUp .signUpForm .mainForm .singleInput label {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #2b2c43;
  opacity: 0.56;
  padding-bottom: 2rem;
}
#signUp .signUpForm .mainForm .singleInput input {
  background: #f9faff;
  border: 0.770732px solid #d5dcff;
  border-radius: 3.85366px;
  padding: 1.75rem 2rem;
}
#signUp .signUpForm .mainForm .singleInput .signUpBtn {
  font-weight: 700;
  font-size: 2.4rem;
  color: #ffffff;
  padding: 1rem 2rem;
  background: #0b0f1a;
  border-radius: 3.85366px;
  width: 100%;
  margin-top: 2rem;
}
#signUp .signUpForm .mainForm .loginWith {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.8rem;
  color: #2b2c43;
  opacity: 0.56;
}
#signUp .signUpForm .mainForm .googleLogin {
  font-weight: 700;
  font-size: 1.6rem;
  color: #161616;
  padding: 1rem 3rem;
  width: 25rem;
  border: 1px solid rgba(0, 0, 0, 0.74);
  border-radius: 4px;
  margin: 0 auto;
  display: block;
  margin-top: 2.7rem;
}
#signUp .signUpForm .mainForm .googleLogin img {
  padding-right: 3rem;
}
#signUp .elips-1 {
  position: absolute;
  left: 0;
  bottom: 35%;
}
#signUp .elips-2 {
  bottom: 0;
  position: absolute;
  right: 27%;
}

.borderNone {
  border: none !important;
}

#projectList .projectBox .projectList {
  font-weight: 600;
  font-size: 4rem;
  line-height: 145%;
  color: rgba(0, 0, 0, 0.7);
  padding-top: 2.8rem;
}

#projectList .projectBox .projectCards {
  margin-top: 1.6rem;
}
#projectList .projectBox .projectCards .card {
  padding: 1.75rem 1rem;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
#projectList .projectBox .projectCards .card .commonText {
  padding: 1rem 1rem;
  font-weight: 400;
  font-size: 1.8em;
  line-height: 2.2rem;
  color: #000000;
}
#projectList .projectBox .projectCards .card .downloadBtn {
  font-weight: 400;
  font-size: 2.3rem;
  color: #0b0f1a;
  padding: 1rem 1.5rem;
  border-color: #000;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
#projectList .projectBox .projectCards .card .downloadBtn:hover {
  background: #0b0f1a;
  color: #fff;
}
#projectList .projectBox .projectCards .card.headerCard {
  padding: 0.5rem 1rem;
  background: #0b0f1a;
  border-radius: 1rem 1rem 0px 0px;
  -webkit-border-radius: 1rem 1rem 0px 0px;
  -moz-border-radius: 1rem 1rem 0px 0px;
  -ms-border-radius: 1rem 1rem 0px 0px;
  -o-border-radius: 1rem 1rem 0px 0px;
}
#projectList .projectBox .projectCards .card.headerCard .commonText {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.6rem;
  color: #ffffff;
  padding: 1rem 1rem;
}
#projectList .projectBox .projectCards .card:last-child {
  border: none !important;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 6.5px;
  }
  #header .nav-item {
    margin-left: 2rem;
    margin-top: 1.5rem;
  }
  #progressBar ul li p {
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 1.2rem;
    line-height: 2.9rem;
    color: #ffffff;
  }
  #bannerOne {
    background-image: none;
  }
  #bannerOne .formInnerContents {
    margin-top: 5rem;
    max-width: fit-content;
  }
  .colorRow {
    flex-wrap: wrap-reverse !important;
  }
  .colorSelectionBoxCtrl {
    background: transparent;
    border: 1px solid #0b0f1a;
    border-radius: 8px;
    padding: 1.6rem 4.2rem;
  }
  .singleColor label {
    padding: 2rem 2rem;
    font-weight: 400;
    font-size: 2.2rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    min-width: 100%;
  }
  .singleColor .btn-check:checked + .btn,
  .singleColor .btn.active,
  .singleColor .btn.show,
  .singleColor .btn:first-child:active,
  .singleColor :not(.btn-check) + .btn:active {
    border-color: #fff;
    background: #fff;
    color: #000;
  }
  .singlePartOfColor .d-flex {
    flex-wrap: wrap;
  }
  .singlePartOfColor .singleColor {
    width: 48%;
    margin-bottom: 2rem;
  }
  #downloadForm .downloadFormCtrl {
    padding: 3rem 2.1rem;
  }
  #downloadForm {
    padding: 4.2rem;
  }
  #signUp .signUpForm {
    background: #ffffff;
    border: 1.5px solid #0f0f80;
    border-radius: 7.70732px;
    padding: 3.9rem;
    width: 85%;
    margin: 0 auto;
  }
  .loginWith img {
    width: 34% !important;
    height: 0.15rem;
  }
  #signUp .signUpForm .mainForm .singleInput .signUpBtn {
    background: #0f0f80;
    padding: 2rem 3rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: none;
  }
  #signUp .elips-1,
  #signUp .elips-2 {
    display: none;
  }
  #projectList .projectBox .projectCards .card {
    padding: 0;
  }
  #projectList .projectBox .projectCards .card .downloadBtn {
    font-weight: 400;
    font-size: 1.5rem;
    color: #0b0f1a;
    padding: 1rem 0.5rem;
    border-color: #000;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
}
